menu "CONFIGURACAO ESTUFA"
    config ESTUFA_SETPOINT_DEFAULT
        int "Setpoint Padrão da Estufa"
        range 0 100
        default 30
        help
            Define o setpoint padrão da estufa em graus Celsius.
    config ESTUFA_MAX_TEMP
        int "Temperatura Máxima da Estufa"
        range 0 100
        default 50
        help
            Define a temperatura máxima que a estufa pode atingir em graus Celsius.
    config ESTUFA_MIN_TEMP
        int "Temperatura Mínima da Estufa"
        range 0 100
        default 15
        help
            Define a temperatura mínima que a estufa pode atingir em graus Celsius.
endmenu
